@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700|Anton|Hind:400|Raleway:700,300|Montserrat:700|Quicksand:700);
*,
*:before,
*:after {
    box-sizing: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    background: #f9f6ea;
}

.hidden {
    position: absolute;
    left: -10000px;
}

.links h2 {
    font-size: 1.5em;
    color: black;
    padding-bottom: 10px;
}


a,
a:active,
a:visited {
    text-decoration: none;
    color: #f9f6ea;
}

a:hover {
    color: #79cae7;
    /*******new*******/
}

.page-wrapper {
    width: 100%;
    margin: 0 auto;
}

.main-wrapper {
    max-width: 84%;
    /*1024/(1024 - 80 - 80)*/
    margin: 0 auto;
}

.footer-wrapper{
    max-width: 84%;
    /*1024/(1024 - 80 - 80)*/
    margin: 0 auto;
}

nav,
h1,
h2 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 2em;
    margin-bottom: 80px;
}




/*-----------------HEADER-----------------*/

header {
    height: 300px;
    background-color: #e32925;
    position: relative;
}

header a.logo {
    position: absolute;
    display: block;
    width: 11.68rem;
    /*187/16*/
    heigh: auto;
    left: 80px;
    top: 3.75rem;
    /*60/16*/
}

#heading {
    text-align: center;
    color: #e32925;
    font-size: 3em;
}

#divider {
    position: absolute;
    top: 500px;
    margin-left: 450px;
}


/*-----------------NAV-----------------*/

nav {
    width: 100%;
    /*    background-color: rgba(0, 0, 0, .45);*/
    height: 12.5rem;
    /*200/16*/
    padding: 5.625rem 0 0 0;
    /*90/16*/
    font-size: 1.25em;
    /*20/16*/
}

nav::after {
    content: "";
    display: block;
    clear: both;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

nav ul li a {
    display: inline-block;
    padding: 5px 10px 5px 0;
    width: 120px;
    margin: 0;
    position: relative;
    padding-bottom: 20px;
}

nav li a:hover {
    color: #79cbe8;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    border-top: 2px solid #FFF;
    padding-top: 10px;
    width: 5.625rem;
    /*90/16*/
}


/* FIRST-LEVEL NAV*/

nav > ul {
    float: right;
}

nav > ul > li {
    float: left;
}


/*-----------------MAIN-----------------*/

.main {
    background-color: #f9f6ea;
    position: relative;
    color: #e42926;
    padding-bottom: 30px;
    /*******new*******/
}

.main-wrapper {
    padding-top: 6.875rem;
}


input[type=text], textarea {
    font-size: 0.85em;
    padding: 10px;
    color: #606060;
}

input[type=submit] {
    position: relative;
}


.input-area{
    margin: 5px auto 5px auto;
}

#contactus {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.name1 {
   top: 100px;
}

#formSubject {
    font-size: 2em;
    margin-bottom: 10px;
}

.name1 {
    margin-bottom: 10px;

}

#message1 {
    margin-left: 27px;
}

.email1 {
    margin-bottom: 10px;
}

#button {
    color: #FFF;
    background-color: #6195ac;
    border: 1px solid #6195ac;
    width: 80px;
    height: 40px;
    margin-top: 30px;
    font-family: "Quicksand", san-serif;
    font-size: 0.7rem;
    /*30/16*/
    margin: 55px auto;
    text-align: center;
}



/*-----------------FOOTER-----------------*/


footer {
    clear: both;
    background-color: #e32925;
    color: #f9f6ea;
    padding: 30px 0;
}

footer a{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.footer-info {
    /*----------***** NEW *******----------*/
    float: left;
    max-width: 100%;
    display: inline-block;
    margin-right: 0;
    display: relative;
}

.footer-info ul{
    list-style: none;
}

.footer-info li{
    display: inline;
    padding-right: 20px;
}

#socmedia {
    float: right;
    display: inline-block;
}

#socmedia ul{
    list-style: none;
}

#socmedia li{
    display: inline;
    padding-left: 20px;
}

footer::after {
    content: "";
    display: block;
    clear: both;
}